body{
    margin: 0;
}

header{
    width: 100%;
    height: 80px;
    color: white;
    background-color: aqua;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner{
    margin: 0;
}

.postar{
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10px;
}

.digiPost input{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    border: solid 2px gray;
    display: flex;
}

.nomePost {
text-align: center;
scale: 70%;
}

.alinhamento {
text-align: center;
}

img {
width: 150px;
height: 100px;
}


.caixa {
    margin-left: 850px;
    margin-right: 850px;
    overflow: hidden;
    padding: 20px;
}

.carrossel {
    display: flex;
    margin-left: 0px;
}


.next_1 {
    animation: next_1 1s ease forwards;
}
.next_2 {
    animation: next_2 1s ease forwards;
}
.next_3 {
    animation: next_3 1s ease forwards;
}

@keyframes next_1 {
    from {margin-left: 0px;}
    to {margin-left: -50px;}
}
@keyframes next_2 {
    from {margin-left: -50px;}
    to {margin-left: -100px;}
}
@keyframes next_3 {
    from {margin-left: -100px;}
    to {margin-left: -150px;}
}


.prev_1 {
    animation: prev_1 1s ease forwards;
}
.prev_2 {
    animation: prev_2 1s ease forwards;
}
.prev_3 {
    animation: prev_3 1s ease forwards;
}

@keyframes prev_1 {
    from {margin-left: -150px;}
    to {margin-left: -100px;}
}
@keyframes prev_2 {
    from {margin-left: -100px;}
    to {margin-left: -50px;}
}
@keyframes prev_3 {
    from {margin-left: -50px;}
    to {margin-left: 0px;}
}


